body {
  margin: 0;
}

div.thanhtieude {
  padding: 10px 0px;
  margin: 0 auto;
  width: 1074px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.thanhtieude > div {
  display: flex;
  align-items: center;
}
.thanhtieude > div > div > a {
  display: flex;
  align-items: center;
  background-color: rgb(255, 94, 0);
  border-radius: 10px;
}
.thanhtieude div i,
.thanhtieude a,
.thanhtieude p {
  margin-left: 20px;
}
.thanhtieude ul {
  display: flex;
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
p {
  color: white;
}
.thanhtieude img {
  width: 10%;
}
.noidung div {
  display: block;
  width: 1074px;
  margin: 0 auto;
}
.noidung img {
  width: 1074px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.banner {
  position: relative;
}
div.banner-infor {
  position: absolute;
  width: 250px;
  bottom: 30px;
  left: 30px;
}
.banner-infor div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.banner-infor h2,
p {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 5px black;
}

.content {
  padding-bottom: 100px;
}
.content > div {
  width: 1074px;
  margin: 0 auto;
}

.header_cayphimmoingay {
  display: flex;
  justify-content: space-between;
}
.header_cayphimmoingay a {
  display: flex;
  align-items: center;
}
.content_cayphimmoingay {
  display: flex;
  justify-content: space-between;
}
.content_cayphimmoingay div {
  width: 200px;
  height: 320px;
}
.content_cayphimmoingay img {
  display: block;
  width: 100%;
  height: 288px;
}

.content_cayphimmoingay p {
  margin: 10px 0px;
}
/* mới ra mắt */
.content_moi_ra_mat {
  display: flex;
  justify-content: space-between;
}
.content_moi_ra_mat div {
  width: 300px;
}
.content_moi_ra_mat img {
  display: block;
  width: 100%;
  height: 186px;
}
.footer {
  width: 1074px;
  margin: 0 auto;
  display: flex;
  border-top: 1px solid gray;
  padding-bottom: 30px;
}
.footer img {
  max-width: 60%;
}
.footer > div {
  margin-right: 15px;
}
